@{
    ViewBag.Title = "About";
}
<style>
    .center {
          text-align: center;
    }
    
    html {
      height: 100%;
    }
    
    body {
        height: 100%;
        margin: 0;
    }

</style>
<h2 class="center">@ViewBag.Message</h2>

<p class="center">
    This application was designed to show both the other personal projects I've worked on along with the
    
</p>

