@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
.center {
    text-align: center;
}

html {
  height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

.button_slide {
    color: #FFF;
    border: 2px solid rgb(216, 2, 134);
    border-radius: 5px;
    padding: 18px 36px;
    display: inline-block;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #D80286;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

.slide_over:hover {
    box-shadow: inset 0 0 0 50px #D80286;
}

#outer {
    width: 364px;
    margin: 50px auto 0 auto;
    text-align: center;
}

body {
    margin: 0;
}

#header1 { 
    font-size: 60px;
    font-weight: bold;
    color: white;
}

#header2 { 
    padding-top: 5%;
    color: white;
}

#upper {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#lower {
    height: 30vh;
    position: relative;
}

.holder {
    background-image: url("../../Image/Website-Design-Background.png");
    background-size: cover;
    object-fit:cover;
    height: 70vh;
    width: 100%;
    position: absolute;
    left: 0;
}


.child {
  position: absolute;
  left: 30%;
  transform: translate(-20%);
  margin-top: 2%;
}

</style>
</head>
<body>
<div class="holder">
    <div id="upper">
        <div class="center">
            <h1 id="header1">My Portfolio</h1>
            <h4 id="header2">Software Developer / Analyst Programmer</h4>
            <div id="outer">
                <a href="@Url.Action("Resume", "Home")">
                    <div class="button_slide slide_over">Download / View CV</div>
                </a>
            </div>
        </div>
    </div>
    <div id="lower">
            <div class="child">
                <p>
                    Hello and welcome to my page! My name is Dion and after studying Computer Science at Bangor University
                    for which I achieved <b>First class Honours</b> along with awards and mentions, I'm currently working 
                    full time as a <b>Software Development</b> in <b>c# .net, js, mvc </b> to provide efficient, 
                    usable and sustainable solutions for client day to day processes. 
                    This is all whilst trying to keep an interst in personal projects combining VR and <b>Unity</b>.
                    I also create 3D models using Blender3D and Maya, examples of both can be found on this website. 
                    So, please have a look around and if you have any queries, wish to get in touch or want to view 
                    the code developed for the projects, use the social links below to view my Git accounts or 
                    contact information.
                </p>
            </div>
    </div>
</div>
</body>